.footer{
    background-color: #2a2b29;
    padding: 30px;
}

.footer .footer_logo{
    height: 42px;
    width: 42px;
}

.footer .footer_logo img{
    height: 100%;
    width: 100%;
}

.footer h6{
    color: #fff;
}